.navbar{
    box-shadow: 0px -6px 20px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.nav-link {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding: 2rem !important;
}

.link{
    color: #C4C4C4 ;
    text-decoration: none !important;
}

.nav-link-active{
    color: var(--color-black) ;
}


.link:hover{
    color: var(--color-black) ;
}

.menu_button_mobile {
    position: relative;
    padding: 0px 15px !important;
    height: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 10px;
}

.menu_button_mobile_icon_custom {
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.menu_button_mobile_icon_custom:nth-child(1) {
    top: 0px;
}

.menu_button_mobile_icon_custom:nth-child(2) {
    top: 8px;
}

.menu_button_mobile_icon_custom:nth-child(3) {
    top: 16px;
}

.menu_button_active .menu_button_mobile_icon_custom:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

.menu_button_active .menu_button_mobile_icon_custom:nth-child(2) {
    opacity: 0;
}

.menu_button_active .menu_button_mobile_icon_custom:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

.menu_button_mobile.menu_button_active{
    animation: animate_button 0.6s;
}

.menu_button_mobile{
    display: none;
}

@keyframes animate_button{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-90deg);
    }
}

@media(max-width: 991px) {
    .menu_button_mobile {
        display: grid;
    }
}

@media(max-width: 991px) {
    .menu-links {
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ffffff;
        justify-content: space-around;
        align-items: center;
        transform: translateY(-150%);
        transition: .3s;
        z-index: -1;
        padding-top: 100px;
        overflow: auto;
    }
    /* Class To Active Menu Mobile*/
    .show_menu {
        transform: translateY(0) !important;
    }
}