:root{
    --color-primary: #5E1B17;
    --color-second: #E3B520;
    --color-black: #313131;
    --color-grey: #757575;
    --color-green: #64BF62;
}

.color-primary{
    color: var(--color-primary) ;
}

.color-second{
    color: var(--color-second) ;
}

.color-black{
    color: var(--color-black);
}

.color-grey{
    color: var(--color-grey);
}

.color-green{
    color: var(--color-green)
}

.bg-color-primary{
    background: var(--color-primary) ;
}

.bg-color-second{
    background: var(--color-second) ;
}

.bg-color-green{
    background-color: var(--color-green)
}

.bg-light{
    background-color: #fff4f4 !important;
}



